.DS_Store
.bin
.env
.env.production
.env*
!.env.example
.git/
.gitignore
.github/
.bundleignore
.bundle
.byebug_history
.rspec
log/*
tmp/*
node_modules/
public/packs/
public/assets/
yarn-error.log
coverage/
test/
spec/
config/master.key
config/initializers/secret_token.rb
config/credentials/development.key
config/credentials/production.key
docker-compose.override.yml
yarn-debug.log*
.yarn-integrity
.yarn/
docker-compose.yml
vendor/bundle