.DS_Store
.bin
.env
.env.production
.git/
.gitignore
.github/
.bundleignore
.bundle
.byebug_history
.rspec
log/*
tmp/*
node_modules/
public/packs
yarn-error.log
coverage/
test/
spec/
config/master.key
config/initializers/secret_token.rb