<div class="flex justify-center">
  <div class="min-w-64 w-full sm:w-7/12 md:w-1/2 lg:w-4/12 bg-white px-4 sm:px-8 py-8 mt-16 mb-8 shadow-sm rounded">
    <div class="mb-4">
      <%= link_to "Back", team_path(@team.slug), class: "cursor-pointer text-indigo-500 no-underline hover:underline mr-4" %>
    </div>
    <h2 class="text-lg font-bold mb-4">Add field to <%= @team.name.titleize %></h2>
    <%= render "form", action: :post, path: fields_path, form_only: true, team: @team %>
  </div>
</div>

  